{{ define "header" }}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
    <head>
        <meta charset="UTF-8" />
        <meta name="keywords" content="投资助手,财报分析,股票基本面分析,基本面选股,基金检测,基金筛选,4433法则,飙股在线等" />
        <meta name="description" content="投资助手是一个用于股票基金投资分析的辅助工具网站，主要提供公司财报分析，股票基本面分析，基本面选股，基金经理排行榜，基金4433法则筛选，基金排行榜等功能。" />
        <meta name="author" content="琳玲港货" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1.0, maximum-scale=1, shrink-to-fit=no" />

        <link rel="shortcut icon" href="/invest/statics/favicon.ico">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://cdn.bootcdn.net/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/invest/statics/css/app.css" />
        <!-- google auto ads -->
<!--        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3437725005703827" crossorigin="anonymous"></script>-->
        <title>{{ .PageTitle }}</title>
    </head>


    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a href="/invest" class="brand-logo"><i class="material-icons">local_atm</i>投资助手</a>
                    <a href="/invest" data-target="mobile-sidenav" class="sidenav-trigger"><i class="material-icons">菜单</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li id="nav-stock"><a href="/invest"><i class="material-icons left">trending_up</i><strong>股票</strong></a></li>
                        <li id="nav-fund"><a href="/invest/fund"><i class="material-icons left">timeline</i><strong>基金</strong></a></li>
                        <li id="nav-about" style="display:none;"><a href="/invest/about"><i class="material-icons left">info_outline</i><strong>关于</strong></a></li>
                        <li id="nav-comment" style="display:none;"><a href="/invest/comment"><i class="material-icons left">chat_bubble_outline</i><strong>留言</strong></a></li>
                        <li id="nav-materials" style="display:none;"><a href="/invest/materials"><i class="material-icons left">book</i><strong>资料</strong></a></li>
                    </ul>
                </div>
            </nav>

            <ul class="sidenav" id="mobile-sidenav">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="/invest/statics/img/sidenav_bg.png">
                        </div>
                        <a href="#!"><img class="circle" src="/invest/statics/img/sidenav_icon.png"></a>
                        <a href="#!"><span class="white-text">投资助手 v{{ .Version }}</span></a>
                    </div>
                </li>
                <li><a class="collapsible-header waves-effect waves-red" href="/invest"><i class="material-icons left">trending_up</i>股票</a></li>
                <li><div class="divider"></div></li>
                <li><a class="collapsible-header waves-effect waves-red" href="/invest/fund"><i class="material-icons left">timeline</i>基金</a></li>
                <li><div class="divider"></div></li>
                <li style="display:none;"><a class="collapsible-header waves-effect waves-red" href="/invest/about"><i class="material-icons left">info_outline</i>关于</a></li>
                <li style="display:none;"><div class="divider"></div></li>
                <li style="display:none;"><a class="collapsible-header waves-effect waves-red" href="/invest/comment"><i class="material-icons left">chat_bubble_outline</i>留言</a></li>
                <li style="display:none;"><div class="divider"></div></li>
                <li style="display:none;"><a class="collapsible-header waves-effect waves-red" href="/invest/materials"><i class="material-icons left">book</i>资料</a></li>
            </ul>

            <div id="fixed-action-btn" class="fixed-action-btn" style="bottom: 74px; right: 24px;">
                <a id="tap-target-btn" class="btn btn-floating btn-large red lighten-2">
                    <i class="large material-icons">bookmark_border</i>
                </a>
                <ul>
                    <li><a id="to-top" class="btn-floating green tooltipped pulse" data-position="left" data-tooltip="返回顶部"><i class="material-icons">publish</i></a></li>
                </ul>
            </div>
        </header>

        <main class="container">
            {{ if .Error }}
            <div class="row">
                <div class="chip flow-text orange lighten-1 col s12 center-align">
                    {{ .Error }}
                    <i class="close material-icons">close</i>
                </div>
            </div>
            {{ end }}

            <div class="row" style="min-width:250px;">
                <!-- 谷歌广告2 -->
<!--                <ins class="adsbygoogle"-->
<!--                     style="display:block;"-->
<!--                     data-ad-client="ca-pub-3437725005703827"-->
<!--                     data-ad-slot="9254516130"-->
<!--                     data-ad-format="auto"-->
<!--                     data-full-width-responsive="true"></ins>-->
<!--                <script>-->
<!--                    (adsbygoogle = window.adsbygoogle || []).push({});-->
<!--                </script>-->
            </div>
            {{ end }}

            {{ define "footer" }}
        </main>

        <div class="container">
            <div class="row" style="min-width:250px;">
                <!-- 谷歌广告1 -->
<!--                <ins class="adsbygoogle"-->
<!--                     style="display:block;"-->
<!--                     data-ad-client="ca-pub-3437725005703827"-->
<!--                     data-ad-slot="4193761142"-->
<!--                     data-ad-format="auto"-->
<!--                     data-full-width-responsive="true"></ins>-->
<!--                <script>-->
<!--                    (adsbygoogle = window.adsbygoogle || []).push({});-->
<!--                </script>-->
            </div>
        </div>

        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l3 s12">
                        <h5 class="white-text">友情链接</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="http://www.47295.com?from=investool" target="_blank">琳玲港货</a></li>
                        </ul>
                    </div>
                    <div class="col l3 s12">
                        <h5 class="white-text">东方财富数据中心</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="https://data.eastmoney.com/cjsj/cpi.html" target="_blank">经济数据</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://data.eastmoney.com/other/index/" target="_blank">成分股数据</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://data.eastmoney.com/yjfp/" target="_blank">分红送配</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://data.eastmoney.com/report/" target="_blank">研报中心</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright copyright adsbygoogle" style="background: none;float:right;margin-right:10px;">
                <p class="right">© 2021-<script type="text/javascript">document.write(new Date().getFullYear());</script> <a href="http://beian.miit.gov.cn/" target="_blank" style="float:right;color:rgba(255,255,255,0.8);">鄂ICP备2022001061号</a>, All rights reserved.</p>
            </div>
        </footer>

        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/TableExport/5.2.0/js/tableexport.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/clipboard.js/2.0.11/clipboard.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.4.0/echarts.min.js"></script>

        <script type="text/javascript" src="/invest/statics/js/app.js" ></script>

        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?6fc2e1bb3e993a4809efa293aa024b47";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
        <script>
            (function(){
                var src = "https://jspassport.ssl.qhimg.com/11.0.1.js?d182b3f28525f2db83acfaaf6e696dba";
                document.write('<script src="' + src + '" id="sozz"><\/script>');
            })();
        </script>
        <script>
            (function(){
                var bp = document.createElement('script');
                var curProtocol = window.location.protocol.split(':')[0];
                if (curProtocol === 'https') {
                    bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
                }
                else {
                    bp.src = 'http://push.zhanzhang.baidu.com/push.js';
                }
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(bp, s);
            })();
        </script>
        <script>
            (function(){
                var el = document.createElement("script");
                el.src = "https://lf1-cdn-tos.bytegoofy.com/goofy/ttzz/push.js?a0492c02262a44150e5b6f4a52052da39e5f67618ee45ffa3d64a250321328ef3d72cd14f8a76432df3935ab77ec54f830517b3cb210f7fd334f50ccb772134a";
                el.id = "ttzz";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(el, s);
            })(window)
        </script>
    </body>
</html>
{{ end }}
